version: "3.9"

services:

  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel-php
    volumes:
      - ./:/var/www
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    container_name: laravel-nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - laravel

  redis:
    image: redis:alpine
    container_name: laravel-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - laravel

  node:
    image: node:20
    container_name: laravel-node
    working_dir: /var/www
    volumes:
      - ./:/var/www
    command: ["tail", "-f", "/dev/null"]
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
